{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Validació correcta.</h1>
    <p>La seva sol·licitud d'alta a la borsa de treball del CIFP Pau Casesnoves s'ha valorat positivament.</p>
    <p>A partir d'ara podrà començar a utilitzar-la.</p>
    <h2>Instruccions d'accés</h2>
    <p>El primer pas és confirmar el seu correu electrònic. Per això pitgi el següent enllaç que a més li permetrà establir la seva contrasenya</p>
    <p><a style="background-color: #3c763d; color: #ffffff; padding: 14px 25px;text-align: center; text-decoration: none; display: inline-block;" class="boto" href="{{ ruta }}/restablirContrasenya?t={{ token }}">Establir la contrasenya</a> </p>
    <p>Aquest enllaç té una validesa d'una setmana.</p>
    <p>Si no veu correctament el botó pot restablir la contrasenya clicant el següent enllaç: <a href="{{ ruta }}/restablirContrasenya?t={{ token }}">{{ ruta }}/restablirContrasenya?t={{ token }}</a>. </p>
    <p>Per entrar a l'aplicació, al formulari d'entrada ha de posar les següents dades:</p>
    <ul>
        <li><p><label>Nom d'usuari:</label> {{ usuari }}</p></li>
        <li><p><label>Contrasenya:</label> la que hagi guardat seguint l'enllaç</p></li>
    </ul>
    <h2>Començar</h2>
    <p> Una vegada hagi entrat a la barra de navegació trobarà una opció per canviar la contrasenya. Es recomanable que
        ho faci com més aviat millor.</p>
    {% if not professor is defined %}
        <p> Per poder començar a publicar ofertes ha d'entrar a l'apartat <em>Actualitzar dades</em> i canviar l'estat a
            <em>Activa</em>.</p>
    {% endif %}
    {% if professor is defined %}
        <p> Està donat d'alta com a <em>Actiu</em>, d'aquesta manera ja començarà a rebre peticions per validar ofertes
            i empreses.</p>
    {% endif %}
    <p></p>
    <p>L'equip de la borsa de treball</p>
{% endblock %}
