{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Validacions d'empreses pendents</h1>
    <p>Té una nova petició de validació d'alguna empresa que es vol incorporar a la borsa de treball.</p>
    <p>L'empresa és {{ empresa }}</p>
    <p>Per favor, entri a l'aplicació i comprovi-ho el més aviat possible.</p>
    <p><a style="background-color: #3c763d; color: #ffffff; padding: 14px 25px;text-align: center; text-decoration: none; display: inline-block;" class="boto" href="{{ ruta }}/valEmpresa?t={{ token }}">Validar empresa</a></p>
    <p>Aquest enllaç té una validesa de set dies.</p>
    <p></p>
    <p>Si no veu correctament el botó pot validar l'oferta clicant el següent enllaç: <a href="{{ ruta }}/valEmpresa?t={{ token }}">{{ ruta }}/valEmpresa?t={{ token }}</a>. </p>
    <p></p>
    <p>Moltes gràcies!</p>

{%endblock%}
