{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Validacions d'ofertes pendents</h1>
    <p>Alguna empresa ha publicat una nova oferta d'algun dels estudis que té assignats.</p>
    <p>Per favor, entri a l'aplicació i comprovi-ho el més aviat possible, ja que fins que no la validi no s'enviarà als alumnes seleccionats.</p>
    <p><a style="background-color: #3c763d; color: #ffffff; padding: 14px 25px;text-align: center; text-decoration: none; display: inline-block;" class="boto" href="{{ ruta }}/valOferta?t={{ token }}">Validar ofertes</a></p>
    <p>Aquest enllaç té una validesa de set dies.</p>
    <p></p>
    <p>Si no veu correctament el botó pot validar l'oferta clicant el següent enllaç: <a href="{{ ruta }}/valOferta?t={{ token }}">{{ ruta }}/valOferta?t={{ token }}</a>. </p>
    <p></p>
    <p>Moltes gràcies!</p>

{%endblock%}
