{% extends "auxiliars/baseDins.html.twig" %}

{% block head %}
    <title>Borsa de treball: Validació d'ofertes</title>
    <script>
        $(document).ready(function () {
            $(".btn-warning").hide();
            //bValidar
            $(".btn-success").click(function (event) {

                var id = $(event.target).closest('form').attr('id').replace('f', '');
                var alumnes = [];
                $.each($(event.target).closest('form').find(':checkbox'),function(index, value){
                    if($(value).is(':checked')) {
                        alumnes.push(parseInt($(value).attr('value')));
                    }
                });
                console.log(alumnes);
                var dades = {idProfessor:{{ professor.idProfessor }}, validada: 1, alumnes:alumnes};
                $('#mdEspera').on('shown.bs.modal', function (e) {
                    $.ajax({
                        method: 'PUT',
                        url: "publicarOferta/" + id,
                        contentType: "application/json",
                        data: JSON.stringify(dades)
                    }).done(function () {
                        $('#mrTitol').html('Validació correcte')
                        $('#mrText').html("<p>L'oferta s'ha validat correctament.</p><p>S'ha enviat un correu a l'empresa i als alumnes seleccionats.</p>");
                        $('#bmDacord').on('click', function () {
                            window.location.href = "ofertes";
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb la validació');
                        $('#mrText').html("<p>" + (typeof jqXHR.responseJSON === 'undefined' ? errorThrown : jqXHR.responseJSON.missatge) + "</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                    }).always(function () {
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    });
                });
                $('#mcTitol').html("Confirmi la validació.");
                $('#mcText').html("<p>Si valida la publicació, immediatament s'enviaran correus electrònics als alumnes seleccionats i s'avisarà a l'empresa.</p>");

                $('#bcDacord').on('click', function () {
                    $('#mdConfirm').modal('hide');
                    $('#mEsperaTitol').html("Validant l'oferta.");
                    $('#mdEspera').modal('show');
                });
                $('#mdConfirm').modal('show');
            });

            $('#bcCancelar').on('click', function () {
                $('#mdConfirm').modal('hide');
            });

            //bRebutjar
            $(".btn-danger").click(function (event) {

                var id = $(event.target).closest('form').attr('id').replace('f', '');
                var dades = {idProfessor:{{ professor.idProfessor }}, validada: 2};
                $('#mdEspera').on('shown.bs.modal', function (e) {
                    dades['motius'] = $("#motius").val();
                    $.ajax({
                        method: 'DELETE',
                        url: "publicarOferta/" + id,
                        data: dades
                    }).done(function () {
                        $('#mrTitol').html('Rebuig correcte')
                        $('#mrText').html("<p>L'oferta s'ha rebutjat correctament.</p><p>S'ha enviat un correu a l'empresa amb els motius del rebuig.</p>");
                        $('#bmDacord').on('click', function () {
                            window.location.href = "ofertes";
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb el rebuig');
                        $('#mrText').html("<p>" + (typeof jqXHR.responseJSON === 'undefined' ? errorThrown : jqXHR.responseJSON.missatge) + "</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                    }).always(function () {
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    });
                });
                $('#mcTitol').html("Confirmi el rebuig.");
                $('#mcText').html('<p>Si confirma el rebuig s\'enviarà un correu a l\'empresa que inclourà els motius de rebuig que posi a continuació.</p><p>Motius del rebuig (màxim 250 caràcters):</p><p><textarea style="width:100%" id="motius" maxlength=250></textarea></p>');

                $('#bcDacord').on('click', function () {
                    $('#mdConfirm').modal('hide');
                    $('#mEsperaTitol').html("Rebutjant l'oferta.");
                    $('#mdEspera').modal('show');
                });
                $('#mdConfirm').modal('show');
            });

            $('#bcCancelar').on('click', function () {
                $('#mdConfirm').modal('hide');
            });

            $('.btn-info').on('click', function (e) {
                var idOferta = $(e.target).closest('form').attr('id').replace('f', '');
                $(e.target).hide();
                $('#w' + idOferta).show();
                $.ajax({
                    method: 'GET',
                    url: "candidats/" + idOferta
                }).done(function (dades) {
                    var cadena = '';
                    for (var index in dades) {
                        cadena += '<div class="checkbox"><label><input type="checkbox" id="cb' + dades[index].idAlumne + '" value="' + dades[index].idAlumne + '" checked="checked">' + dades[index].llinatges + ', ' + dades[index].nom + '</label></div>';
                    }
                    $('#l' + idOferta).html(cadena);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $('#l+idOferta').html("<p>No hi ha alumnes</p>");
                });
            });

            $('.btn-warning').on('click', function (e) {
                var idOferta = $(e.target).closest('form').attr('id').replace('f', '');
                $('#i' + idOferta).show();
                $('#l+idOferta').html("");
                $(e.target).hide();
            });
        });
    </script>
{% endblock %}

{% block navegacio %}
    <a class="navbar-brand" href="dashBoard">{{ professor.nom }} {{ professor.llinatges }}</a>
    </div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Validar ofertes pendents</a></li>
        <li><a href="ofertesValidades">Ofertes validades</a></li>
        <!--<li><a href="empreses">Activar / validar empresa</a></li>-->
    </ul>


    {% endblock %}

    {% block contingut %}
    <h2>Validar / Rebutjar ofertes pendents</h2>
    {% for oferta in ofertes %}
    <div class="well" id="of{{ oferta.idOferta }}">
        {{ include('auxiliars/ofertaCompleta.html.twig') }}

        <form id="f{{ oferta.idOferta }}">
            <div id="dA{{ oferta.idOferta }}" class="collapse">
                <h3>Filtrar alumnes</h3>
                <div class="well" id="l{{ oferta.idOferta }}"></div>
            </div>
            <div>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dA{{ oferta.idOferta }}"
                        id="i{{ oferta.idOferta }}">Filtrar alumnes
                </button>
                <button type="button" class="btn btn-warning" data-toggle="collapse"
                        data-target="#dA{{ oferta.idOferta }}" id="w{{ oferta.idOferta }}">No filtrar alumnes
                </button>
                <button type='button' class="btn btn-success" type="button">Validar</button>
                <button type='button' class="btn btn-danger" type="button">Rebutjar</button>
        </form>
    </div>
{#</div>#}
    {% endfor %}
        {% if ofertes is empty %}
            <div class="well">
                <p>No hi ha cap oferta pendent de validar.</p>
            </div>
        {% endif %}
        {{ include('auxiliars/modals.html.twig') }}
    {% endblock %}