<form id="llengues" action="#" method="GET">
    <div class="row">
        <div class="col-md-6">
            <h3>Idiomes disponibles</h3>
            <div class="well">
                <div class="form-group">
                    <label for="selIdioma">Idioma:</label>
                    <select id="selIdioma" name="nouIdioma">
                        <option value="">Escull un idioma</option>
                        {% for idioma in idiomes %}
                            {% set skill=0 %}
                            {% for llengua in actor.idiomes %}
                                {% if idioma.idIdioma==llengua.idIdioma %}
                                    {% set skill=llengua.pivot.NivellsIdioma_idNivellIdioma %}
                                {% endif %}
                            {% endfor %}
                            <option id="o{{ idioma.idIdioma }}" value="{{ idioma.idIdioma }}"
                                    {% if skill!=0 %}disabled="disabled"{% endif %}>{{ idioma.idioma }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary" type="button" name="bAfegir" id="bAfegir" disabled="disabled">Afegir</button>
                </div>
            </div>
            <h3>Idiomes {{ etiquetes.labelLlista }}:</h3>
            <div id="llistaIdiomes">
                {% if actor.idiomes | length >0 %}
                    {% for idioma in idiomes %}
                        {% set skill=0 %}
                        {% for llengua in actor.idiomes %}
                            {% if idioma.idIdioma==llengua.idIdioma %}
                                {% set skill=llengua.pivot.NivellsIdioma_idNivellIdioma %}
                            {% endif %}
                        {% endfor %}
                        {% if skill!=0 %}
                            <div class="well" id="d{{ idioma.idIdioma }}">
                                <h4>{{ idioma.idioma }}</h4>
                                <div class="form-group">
                                    <div>
                                        {% for nivell in nivellsIdioma %}
                                            <label class="radio-inline"><input type="radio"
                                                                               id="{{ idioma.idioma }}{{ nivell.idNivellIdioma }}"
                                                                               name="l{{ idioma.idIdioma }}"
                                                                               value="{{ nivell.idNivellIdioma }}"
                                                                               {% if nivell.idNivellIdioma==skill %}checked="checked"{% endif %}>{{ nivell.nivell }}
                                            </label>
                                        {% endfor %}
                                        <button type="button" class="btn btn-xs btn-danger margeEsquerra" id="b{{ idioma.idIdioma }}" title="Esborra l'idioma"> &nbsp; <span class="glyphicon glyphicon-trash"></span> &nbsp </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="well">
                        <div class="form-group">
                            <div>No hi ha cap idioma especificat.</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="well">
                    <p>El sistema seleccionarà aquells alumnes que tenguin un nivell igual o superior al demanat per a
                        cada un dels idiomes especificats a l'oferta.</p>
                    <p>Per exemple, si l'oferta demana un nivell <em>Molt bé</em> de castellà i català i <em>Bé</em>
                        d'anglés només es seleccionaran els alumnes amb un nivell <em>Molt bé</em> de castella i català
                        i <em>Bé</em> o <em>Molt bé</em> d'anglés.</p>
                    <p>Si no s'especifica cap nivell de cap idioma, o es posa <em>Gens</em>, no es tendran en compte els
                        nivells d'idiomes per
                        seleccionar els candidats.</p>
                    <p>Si vol eliminar un idioma de la llista, pitgi el botó amb la paperera al costat dels nivells de l'idioma.</p>
                </div>
                <button class="btn btn-success" type="submit" name="bGuardar" id="bGuardar">Guardar</button>
                <button class="btn btn-default" type="reset" name="bCancel" id="bCancel">Cancel·lar</button>
            </div>
        </div>
    </div>
</form>
{{ include('auxiliars/modals.html.twig') }}
<script>
    $('#selIdioma').on('change',function(){
        $('#bAfegir').prop('disabled',this.value=="");
    });

    $('#bAfegir').on('click', function () {
        if (document.getElementsByTagName("input").length == 0) {
            $('#llistaIdiomes').empty();
        }
        let nivells = [];
        {% for nivell in nivellsIdioma %}
        nivells.push({nivell: "{{ nivell.nivell }}", idNivellIdioma:{{ nivell.idNivellIdioma }}});
        {% endfor %}
        const triat = document.getElementById('selIdioma').options[document.getElementById('selIdioma').selectedIndex];
        triat.disabled = true;
        let cadena = '';
        for (let nivell of nivells) {
            cadena += '<label class="radio-inline"><input type="radio" ' +
                'id="' + triat.text + "" + nivell.idNivellIdioma + '" ' +
                'name="l' + triat.value + '" ' +
                'value="' + nivell.idNivellIdioma + '"' +
                '>' + nivell.nivell + ' </label> ';
        }
        $('#llistaIdiomes').prepend('<div class="well" id="d' + triat.value + '">\n' +
            '                            <h4>' + triat.text + '</h4>\n' +

            '<div class="form-group">\n' +
            '                                <div>' + cadena +
            '<button type="button" class="btn btn-xs btn-danger margeEsquerra" id="b' + triat.value +'"  title="Esborra l\'idioma"> &nbsp; <span class="glyphicon glyphicon-trash"></span> &nbsp </button>'
            +'                                </div>\n' +
            '                        </div>' +
            '                            </div>');
        $('#b'+triat.value).on('click',esborra);
        $('#selIdioma').val("");
        $('#bAfegir').prop('disabled',true);
    });
    var resultat = [];
    $('#llengues').on('submit', function (event) {
        var resultat = {};
        resultat.nivells = []
        event.preventDefault();
        {% for idioma in idiomes %}
        if (typeof $('input[name="l{{ idioma.idIdioma }}"]') !== "undefined" && $('input[name="l{{ idioma.idIdioma }}"]:checked').val() > 1) {
            resultat.nivells.push({
                idIdioma: '{{ idioma.idIdioma }}',
                NivellsIdioma_idNivellIdioma: $('input[name="l{{ idioma.idIdioma }}"]:checked').val()
            });
        }
        {% endfor %}
        $('#mEsperaTitol').html("Realitzant la modificació.");
        $('#mdEspera').on('shown.bs.modal', function (e) {
            $.ajax({
                method: 'PUT',
                url: "idiomes/" + {{ identificador }},
                data: resultat
            }).done(function (dades) {
                $('#mrTitol').html('Modificació correcta');
                if (dades.quantitat >= 0) {
                    $('#mrText').html("<p>Els idiomes s'han modificat correctament.</p><p>Amb aquestes condicions l'oferta s'enviaria a " + dades.quantitat + " alumnes.</p>");
                } else {
                    $('#mrText').html("<p>Els idiomes s'han modificat correctament.</p>");
                }
                $('#bmDacord').on('click', function () {
                    {% if actor.idOferta is empty %}
                    window.location = "dashBoard";
                    {% else %}
                    window.location = 'idiomes?idOferta={{ actor.idOferta }}';
                    {% endif %}
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb la modificació')
                $('#mrText').html("<p>" + (typeof jqXHR.responseJSON === 'undefined' ? errorThrown : jqXHR.responseJSON.missatge) + "</p>");
                $('#bmDacord').on('click', function () {
                    $('#mdResultat').modal('hide');
                });
            }).always(function () {
                $('#mdEspera').modal('hide');
                $('#mdResultat').modal('show');
            });
        });

        $('#mdEspera').modal('show');
    });
    function esborra(e){
        const ident=e.currentTarget.id.replace('b','');
        $('#d'+ident).remove();
        $('#o'+ident).prop("disabled", false);
    };

    $(".btn-danger").on('click',esborra);
</script>

<script src="../js/dirtyForms.js"></script>