<h2>Dades de l'alumne</h2>
<div class='well'>
    <form id="formAlumne" action="altaAlumne" method="POST">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" class="form-control" id="idAlumne" name="idAlumne"
                               value="{{ alumne.idAlumne }}">
                        <div class="form-group required">
                            <label class='control-label' for="Nom">Nom:</label>
                            <input type="text" required="required" class="form-control " id="nom" name="nom"
                                   maxlength="45" value="{{ alumne.nom }}">
                        </div>
                        <div class="form-group required">
                            <label class='control-label' for="Nom">Llinatges:</label>
                            <input type="text" required="required" class="form-control " id="llinatges" name="llinatges"
                                   maxlength="45" value="{{ alumne.llinatges }}">
                        </div>
                        <div class="form-group required">
                            <label for="email" class='control-label'>Correu electrònic:</label>
                            <input type="email" required="required" class="form-control" id="email" name="email"
                                   maxlength="75" value="{{ alumne.email }}">
                            <p class="notes">El correu electrònic serà el vostre nom d'usuari i el mitjà de comunicació
                                de la borsa de treball amb tu.</p>
                            <p class="notes">No pot ser una adreça del pau.</p>
                        </div>
                    </div><!--col-->

                    <div class="col-md-6">
                        <div class='row'>
                            <div class="form-group">
                                <label for="familia">Família professional</label>

                                <select class="form-control" id="familia">
                                    <option value="">Escull una família professional</option>
                                    {% for familia in families %}
                                        <option value="{{ familia.id }}">{{ familia.nom }} ({{ familia.id }} )</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group required">
                                <label for="cicles" class="control-label">Estudis disponibles:</label>
                                <select class="form-control" id="cicles" name="cicle" required="required">
                                    <option value="">Escull uns estudis</option>
                                    {% for grau in estudis %}
                                        <option value="{{ grau.codi }}">{{ grau.codi }} - {{ grau.nom }}</option>
                                    {% endfor %}
                                </select>
                                <p class="notes">Has de seleccionar els estudis que has acabat ara.</p>
                            </div>
                        </div><!--row-->
                    </div><!--col-->
                </div><!--row -->

            </div> <!--Col8 -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label>Acceptació</label>
                        <div class="checkbox"><label><input type="checkbox" id="cbGuardar"  name="guardar">Dades aplicació bla, bla, bla ...</label></div>
                    </div>
                    <div class="col-md-12">
                        <div class="checkbox"><label><input type="checkbox" id="cbCedir" name="cedir">Cedir dades empreses bla, bla, bla...</label></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group pull-right">
                        <label for="bEnviar">&nbsp;</label>
                        <div>
                            <button type="submit" id="bEnviar" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        <label for="CodiPostal">&nbsp;</label>
                        <div>
                            <button type="reset" class="btn btn-default">Netejar</button>
                        </div>
                    </div>
                </div>
            </div><!--col-->
        </div><!--row-->
        {% include 'auxiliars/obligatoris.html.twig' %}

    </form>
</div><!--well-->
<script src="js/dirtyForms.js"></script>
<script>
    $('#formAlumne').submit(function (event) {
        event.preventDefault();

        var errors = "";
        if ($("#nom").val().trim().length < 1) {
            errors += "<p>El camp nom no pot ser buid.</p>";
        }
        if ($("#llinatges").val().trim().length < 1) {
            errors += "<p>El camp Llinatges no pot ser buid.</p>";
        }
        if ($("#email").val().trim().length < 1) {
            errors += "<p>El camp correu electrònic no pot ser buid.</p>";
        }
        if ($("#email").val().indexOf('@paucasesnovescifp.cat') >= 0) {
            errors += "<p>El correu electrònic no pot ser del domini <em>@paucasesnovescifp.cat</em></p>";
        }
        if (!$("#cbGuardar").prop("checked")) {
            errors += "<p>Ha d'acceptar que l'aplicació guardi les dades.</p>";
        }
        if (errors === "") {
            $('#mdEspera').modal('show');
        } else {
            $('#mrTitol').html("Atenció!")
            $('#mrText').html(errors);
            $('#mdResultat').modal('show');
        }
    });
</script>

{{ include('auxiliars/modals.html.twig') }}