{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Restablir contrasenya</title>

{% endblock %}
{% if tipus == 10 %}
    {% set brand="Professor" %}
    {% set accio="professorLogin" %}
{% elseif tipus==20 %}
    {% set brand="Empresa" %}
    {% set accio="empresaLogin" %}
{% elseif tipus==30 %}
    {% set brand="Alumne" %}
    {% set accio="alumneLogin" %}
{% endif %}

{% block navegacio %}
<a class="navbar-brand" href="{{ accio }}">{{ brand }}</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="{{ accio }}"><span class="glyphicon glyphicon-log-out"></span> Tornar</a></li>
    </ul>
{% endblock %}                     

{% block contingut %}

    <div class="row">
        <div class="col-md-8">
            <h2>Restablir contrasenya</h2>
            <div class="well">
                <form id="fLogin" action="{{ accio }}" method="POST">
                    <input type="hidden" id="tipus" name="tipus" value="{{tipus}}">
                    <div class="form-group required">
                        <label for="email" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required="required">
                    </div>
                    <button type="submit" name="bEntrar" >Enviar</button>
                </form>
                <p></p>
                {{include('auxiliars/obligatoris.html.twig')}}
            </div>
        </div><!--col-->

    </div><!--row-->
    {{include('auxiliars/modals.html.twig')}}
    <script>
        $(document).ready(function () {

            $("#fLogin").on('submit', function (event) {
                event.preventDefault();
                var dadesLogin;

                $('#mEsperaTitol').html('Demanant el restabliment de la contrasenya');
                $('#mdEspera').on('shown.bs.modal', function (e) {
                    $.ajax({
                        method: 'PUT',
                        url: "contrasenyaOblidada",
                        data: dadesLogin
                    }).done(function () {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Petició correcta');
                        $('#mrText').html("<p>En breu rebrà un correu electrònic amb instruccions per canviar la contrasenya.</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                            window.location.href = '{{ accio }}';
                        });
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb la validació');
                        $('#mrText').html("<p>" + (typeof jqXHR.responseJSON==='undefined'?errorThrown:jqXHR.responseJSON.missatge) + "</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    });
                });

                dadesLogin = {tipus:{{tipus}} , nomUsuari: $("#email").val()};
                $('#mdEspera').modal('show');
            });

        });
    </script>
{% endblock %}
